.radioGroup {
    margin-bottom: 1rem;

    & > :global(.navds-radio-buttons) {
        display: flex;
        gap: 2rem;
    }
}

.datovelgere {
    margin-top: 1rem;
}

.ikkeInnvilgbarVarsel {
    margin-bottom: 1rem;
}
