.personaliaHeader {
    background: #f8f8f8;
    padding: 1rem 2rem 0.5rem 2rem;
}

.personaliaHeader__personIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.personaliaHeader__name {
    bottom: 5px;
    position: relative;
    margin-left: 0.5rem;
}

.personaliaHeader__ident {
    bottom: 5px;
    position: relative;
    margin-left: 2rem;
}

.personaliaHeader__tag {
    position: relative;
    top: -4px;
    margin-left: 2rem;
}