.blokk {
    padding: 0.5rem;
    border: 1px solid var(--ax-border-neutral-subtle);
}

.leggTilBarnButton {
    background: var(--ax-bg-default);
    width: 100%;
}

.avbrytButton {
    background: var(--ax-bg-default);
}
