.omgjortGroup {
    & > :global(.aksel-checkboxes) {
        display: flex;
        gap: 0.25rem;
    }
}

.omgjortCheckbox {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--ax-neutral-500);
}

.heltOmgjortBg {
    background-color: var(--ax-neutral-100);
}

.delvisOmgjortBg {
    background-image: repeating-linear-gradient(
        -45deg,
        var(--ax-neutral-100),
        var(--ax-neutral-100) 8px,
        transparent 8px,
        transparent calc(8px * 2)
    );
}
