.radioGroup {
    margin-top: 2rem;

    & > :global(.navds-radio-buttons) {
        display: flex;
        gap: 2rem;
    }
}

.datovelgere {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    &.skjult {
        display: none;
    }
}
