.uke {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 1rem;
    min-width: 720px;
}

.select {
    && select {
        min-height: 1.75rem;
    }
}

.ikkeOppdatertBeregning {
    .beregning {
        color: var(--a-gray-400);
        cursor: not-allowed;
    }
}
