.wrapper {
    margin-top: 1rem;
}

.antall {
    width: 100px;
}

.feilPeriode {
    border: var(--ax-border-danger) 2px solid;
    border-radius: var(--ax-radius-8);
    padding: 0.5rem;
    margin: 0 -0.5rem;
}
