.wrapper {
    margin-top: 1rem;
}

.periode {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.antall {
    width: 100px;
}

.perioderKnapper {
    display: flex;
    gap: 1rem;
}

.feilPeriode {
    border: var(--a-border-danger) 2px solid;
    border-radius: var(--a-border-radius-medium);
    padding: 0.5rem;
    margin: 0 -0.5rem;
}
