.wrapper {
    border-right: 1px solid var(--ax-neutral-300);
    padding: 1rem;
    background-color: var(--ax-accent-200);
}

.behandlingTag {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;

    & > :first-child {
        margin-right: 0.5rem;
    }
}

.detalj {
    & > :first-child {
        margin-bottom: 0.25rem;
    }

    &:not(:last-child) {
        margin-bottom: 0.75rem;
    }
}

.detaljtekst {
    & > :first-child {
        margin-bottom: 0.25rem;
    }

    &:not(:last-child) {
        margin-bottom: 0.4rem;
    }
}
