.knapp {
    min-width: 50%;
}

.varsel {
    margin-bottom: 0.25rem;
}

.knappV2 {
    margin-top: 0.25rem;
}

.modal {
    padding: 2rem;
}

.modalHeader {
    padding-bottom: 0;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .textarea {
        padding: 12px 35px;
    }
}
