.behandlingSkjema {
    padding: 1em;
    align-items: center;
    grid-area: behandlingbanner;
}

.rad {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tagBox {
    width: 20%;
    flex-direction: row;
}

.knappeBox {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.tilstandTag {
    align-items: center;
    justify-content: flex-start;
}

.knapp {
    padding-left: 0.5rem;
}
