
.section {
  border-right: 1px solid #cfcfcf;
  grid-area: venstrekolonne;
  min-height: calc(100vh - 7.5rem);
  margin: 0.2rem 1rem 
}
.heading {
  padding: 0.7rem 0;
  border-bottom: 1px solid #cfcfcf;
}

.tekst {
  font-weight: bold;
}

.listeelement {
  border-bottom: 1px solid #cfcfcf;
  padding: 0.3rem;
}
