.uke {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 1rem;
    text-wrap: nowrap;
}

.ikon:global(.aksel-table__data-cell) {
    padding-right: 0;
    text-align: center;
    min-width: 2rem;
    & > svg {
        vertical-align: middle;
    }
}

.select {
    && select {
        min-height: 1.75rem;
    }
}

.ikkeOppdatertBeregning {
    .beregning {
        color: var(--ax-neutral-400);
        cursor: not-allowed;
    }
}
