.søknadSummarySection {
    padding: 1rem;
    flex-basis: 30%;
}

.søknadHeading {
    margin-top: 1rem;
}

.søknadDetails {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.søknadDetail {
    display: block;
    margin-top: 0.5rem;
}