.tiltaksdataFraRegister__container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.tiltaksdataFraRegister__dataGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.5rem;
}

.tiltaksdataFraRegister__tilbakestillKnapp {
    margin-top: 1rem;
    align-self: end;
}