.historikkColumn {
    border-left: 1px solid #cfcfcf;
    grid-area: høyrekolonne;
}

.historikkHeading {
    border-bottom: 1px solid #cfcfcf;
    padding: 0.7rem;
    display: flex;
    align-items: center;
}

.historikkHeadingSpan {
    display: flex;
    align-items: center;
}

.historikkRow {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    padding: 0.7rem;
}

.historikkContent {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.historikkType {
    margin-right: 1rem;
    font-weight: bold;
}

.historikkTekst {
    margin-right: 1rem;
}

.historikkSignatur {
    margin-right: 1rem;
    font-style: italic;
}
