.headerCell {
    border: none;
    border-top-left-radius: var(--a-border-radius-medium);
    border-top-right-radius: var(--a-border-radius-medium);
    background-color: var(--a-gray-50);
}

.lukket {
    display: none;
}

.tabellHeaderOver {
    background-color: var(--a-gray-50);

    th {
        border: none;
    }
}

.tabellHeaderUnder {
    border-bottom: 1px solid var(--a-gray-500);

    th {
        font-size: var(--a-font-size-medium);
        font-weight: lighter;
        border: none;
    }
}

.periodeSum {
    border-top: 1px solid var(--a-gray-500);
    border-bottom: 2px solid var(--a-gray-500);
}

.simuleringCell {
    /* Overstyrer navds spesifisitet */
    && {
        padding: 0.5rem 0;
        border: 0;
    }
}

.endringOgVisMerCell {
    display: flex;
    justify-content: space-between;
}
