.headerCell {
    border: none;
    border-top-left-radius: var(--ax-radius-4);
    border-top-right-radius: var(--ax-radius-4);
    background-color: var(--ax-neutral-100);
}

.lukket {
    display: none;
}

.tabellHeaderOver {
    background-color: var(--ax-neutral-100);

    th {
        border: none;
    }
}

.tabellHeaderUnder {
    border-bottom: 1px solid var(--ax-neutral-500);

    th {
        font-size: var(--ax-font-size-medium);
        font-weight: lighter;
        border: none;
    }
}

.periodeSum {
    border-top: 1px solid var(--ax-neutral-500);
    border-bottom: 2px solid var(--ax-neutral-500);
}

.simuleringCell {
    /* Overstyrer navds spesifisitet */
    && {
        padding: 0.5rem 0;
        border: 0;
    }
}

.endringOgVisMerCell {
    display: flex;
    justify-content: space-between;
}
