.antallDagerHeading {
    margin-bottom: var(--a-spacing-7);
}

.antall {
    width: 250px;
}

.antallDagerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-7);
}

.antallDagerContainer > :last-child {
    margin-bottom: var(--a-spacing-7);
}

.antallDagerElementContainer {
    display: flex;
    gap: var(--a-spacing-8);
}
