.rad {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.beløp {
    display: inline-flex;
    gap: 0.25rem;

    .negativ {
        color: var(--a-red-500);
    }
}

.simuleringsknapp {
    display: flex;
    align-self: flex-start;
}

.seSimuleringKnapp {
    display: flex;
    align-self: flex-start;
}

.seSimuleringKnapp > :first-child {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
}

.advarselIkon {
    color: var(--a-surface-warning);
}
