.logoResponsive {
    display: inline-block;
}
@media (max-width: 1180px) {
    .logoResponsive {
        display: none;
    }
}

.opprettSakButton {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: var(--a-white);
    background: var(--a-surface-action);
}

.opprettSakButton:hover {
    background: var(--a-surface-action-active);
}
