.tabellwrapper {
    background-color: #ffffff;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.tabs {
    background-color: #ffffff;
    padding-top: 1rem;
}

.tabsList:first-child {
    margin-left: 1rem;
}

.tab {
    margin-bottom: 1.5rem;
}

.panel {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tittelRad {
    padding: 1rem 1rem 0 1rem;
}

.wrapper {
    height: 100vh;
}

.meldekortHeaderRad {
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
