.main {
    max-width: 1200px;
}

.main > :not(:last-child) {
    margin-bottom: 1rem;
}

.vedtakContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--ax-neutral-000);
    padding: 2rem;
}
