.header {
    margin-bottom: 0.5rem;
}

.underseksjon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.etterbetalingBeløp {
    border: 2px solid var(--a-green-500);
}

.tilbakekrevingBeløp {
    border: 2px solid var(--a-red-500);
}
