.wrapper {
  padding: 1rem;
  width: 100%;
  background-color: #F5F5F5;
}

.disableUkevisning {
  pointer-events: none;
  opacity: 0.65;
}

.meldekortUke {
  width: 49%;
  padding: 1em;
  margin: 0 0.3rem;
}

.meldekortUkeDag {
  padding: 1em 0;
  border-bottom: 1px solid #cfcfcf;
}

.heading {
  padding-bottom: 1em;
  border-bottom: 1px solid #cfcfcf;
}

