.detaljer {
    margin-top: 0.25rem;
}

.kontrollMedEndring {
    border: var(--ax-border-danger) 2px solid;
    border-radius: var(--ax-radius-8);
    margin: 0 -0.75rem;
    padding: 0.75rem;
}

.tilbakekreving {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 3px solid var(--ax-border-warning-subtle);
    border-radius: var(--ax-radius-4);
}
