.utbetalingsuke {
  background-color: #ffffff;
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 1rem;
}

.total_utbetaling {
  background-color: #ffffff;
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 0.5rem;
  width: 70%;
}
