.header {
    padding-bottom: 0.5rem;
}

.personinfoVarsel {
    font-style: italic;
}

.readonly {
    background-color: var(--ax-neutral-000);
    border: 1px var(--ax-neutral-500) solid;
    border-radius: var(--ax-radius-4);

    && > textarea {
        background-color: var(--ax-neutral-000);
    }
}
