.wrapper {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    width: 100%;
    background-color: #f5f5f5;
}

.innerWrapper {
    display: flex;
    flex-direction: row;
}

.heading {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cfcfcf;
}

.totalbeløp {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .meldekortBeløp {
        justify-self: end;
        margin-right: 1rem;
    }
}

.begrunnelse {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 0.5rem;
}

.meldekort {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 1000px;
}

.meldekortuke {
    padding: 1rem 5rem 1rem 2rem;
}

.utbetalingsuke {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 1rem;
}

.personinfoVarsel {
    font-style: italic;
}
