.opplysning {
    margin-bottom: 0.25rem;

    &.spacing {
        margin-bottom: 1rem;
    }
}

.soknadsopplysningVarsel {
    display: grid;
    align-items: center;
    grid-template-columns: 20fr 0.5fr;
    grid-column-gap: 2rem;
    gap: 0.25rem;
    justify-content: space-between;
    background-color: var(--ax-info-100);
    border-radius: var(--ax-radius-4);
    padding: 0 5rem;
    margin: 0 -6rem 0 -5rem;

    & > svg {
        align-self: center;
        width: 1.75rem;
        height: 1.75rem;
        color: var(--ax-warning-500);
    }
}
