.wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.input {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.antall {
    width: 80px;
}

.fjern {
    align-self: flex-end;
}
