@import '@navikt/ds-css';

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** secondary-varianten har transparent som default background
*   vi ønsker "alltid" at denne skal være hvit
*/
.aksel-button--secondary {
    background-color: var(--ax-neutral-000);
}
