.vilkårsvurderingerAvFristForFramsettingAvKrav__container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.vilkårsvurderingerAvFristForFramsettingAvKrav__endreKnapp {
    /* todo: kommenter ut denne linja når man skal støtte at saksbehandler endrer manuelt */
    display: none;
    align-self: end;
    margin-top: 1rem;
}

.vilkårsvurderingerAvFristForFramsettingAvKravVurderingRad {
    position: relative;
}

.vilkårsvurderingerAvFristForFramsettingAvKravVurderingRad__utfallIkon {
    position: absolute;
    right: 8px;
    top: 10px;
}
