
.søknadTabs {
    border-top: 1px solid #cfcfcf;
    grid-area: soknad;
}

.tabsHistorikkDiv {
    display: flex;
}

.tabsColumn {
    width: 80%
}

.historikkColumn {
    flex: 1;
    margin-left: 1rem;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    grid-area: history;
    min-height: calc(100vh - 7.5rem);
}
