.container {
  background: #ffffff;
  border: 2px #9099a5 solid;
  border-radius: 4px;
  padding: 1rem;
}

.avklart_saksopplysning {
  width: 50%;
  padding-right: 1rem;
}

.registerdata {
  border-left: 1px #000000 solid;
  padding-left: 2rem;
  width: 50%;
}

.margin_top {
  margin-top: 1rem;
}

.utfall_datacell {
  display: flex;
}
