.wrapper {
  padding: 1.5rem;
  width: 100%;
}

.meldekortUkeDag {
  padding: 1em 0;
  border-bottom: 1px solid #cfcfcf;
}

.heading {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cfcfcf;
}

.totalbeløp {
  background-color: #ffffff;
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 0.5rem;
}

.meldekort {
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 1000px;
}

.meldekortuke {
  padding: 1rem 5rem 1rem 2rem;
}

.utbetalingsuke {
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 1rem;
}