.wrapper {
  padding: 1.5rem;
  width: 100%;
  background-color: #f5f5f5;
}

.meldekortUke {
  width: 49%;
}

.meldekortUkeDag {
  padding: 1em 0;
  border-bottom: 1px solid #cfcfcf;
}

.heading {
  padding-bottom: 1em;
  border-bottom: 1px solid #cfcfcf;
}

.totalbeløp {
  background-color: #ffffff;
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 0.5rem;
}

.utbetalingsuke {
  background-color: #ffffff;
  border: 1px #9099a5 solid;
  border-radius: 4px;
  padding: 1rem;
}