.toppRad {
    display: flex;
    justify-content: space-between;
}

.header {
    margin-bottom: 0.5rem;
}

.lovKnapper {
    display: flex;
    gap: 1rem;
    align-items: center;

    & span {
        display: flex;
        align-items: center;
    }

    & svg {
        margin: 0 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.personinfoVarsel {
    font-style: italic;
    margin-top: 1rem;
}