.søknadSummarySection {
    /* width: 264px; */
    border-right: 1px solid #cfcfcf;
    grid-area: summary;
}

.registrerteTiltakSection {
    padding: 1rem;
}

.registrerteTiltakHeading {
    margin-bottom: 1rem;
}