.søknadSummarySection {
    /* width: 264px; */
    border-right: 1px solid #cfcfcf;
    grid-area: summary;
    /* 7.5rem er summert nav-header, personalia-header + padding */
    min-height: calc(100vh - 7.5rem);
}

.registrerteTiltakSection {
    padding: 1rem;
}

.registrerteTiltakHeading {
    margin-bottom: 1rem;
}