.behandlingLayout {
    display: grid;
    grid-template-columns: minmax(350px, min-content) minmax(700px, min-content) minmax(
            625px,
            min-content
        );
    min-height: 100vh;
    background-color: var(--a-bg-subtle);
    gap: 1.25rem;
}
