.behandlingTag {
    padding: 0.5em;
    align-self: center;
    justify-self: center;
    grid-area: behandlingtag;
}

.behandlingLayout {
    display: grid;
    grid-template-columns: minmax(400px, min-content) 1fr;
    min-height: 100vh;
}
