.ukevisning {
    display: flex;
}

.uke1 {
    width: 48%;
    background-color: #F0F0F0;
    margin-right: 0.2rem;
}

.uke2 {
    flex: 1;
    background-color: #F0F0F0;
    margin-left: 0.2rem;
}

