.spaceBetween {
    display: flex;
    justify-content: space-between;
    gap: var(--ax-space-32);
}

.inlineColon {
    display: flex;
    gap: var(--ax-space-4);
}

.vertikalt {
    display: flex;
    flex-direction: column;
}

.verdi {
    white-space: pre-wrap;
}
