.radioGroup {
    margin-top: 1rem;

    & > :global(.navds-radio-buttons) {
        display: flex;
        gap: 2rem;
    }
}

.input {
    &.skjult {
        display: none;
    }

    .knapp {
        margin-top: 1.5rem;
    }
}
