.wrapper {
    border-left: solid var(--a-gray-300) 1px;
    border-right: solid var(--a-gray-300) 1px;
    background-color: var(--a-white);
}

.panel {
    padding: 1rem;
}

.tabDisabled {
    pointer-events: none;
    color: var(--a-gray-400);
}
