.wrapper {
    border-left: solid var(--ax-neutral-300) 1px;
    border-right: solid var(--ax-neutral-300) 1px;
    background-color: var(--ax-bg-default);
}

.panel {
    padding: 1rem;
}

.brukersMeldekortPanel {
    & > * {
        padding: var(--ax-space-16) 0;
    }

    & > :not(:last-child) {
        border-bottom: dashed var(--ax-neutral-600) 1px;
    }
}

.tabDisabled {
    pointer-events: none;
    color: var(--ax-neutral-400);
}

.tabs {
    background-color: var(--ax-bg-default);
    border-bottom: solid 1px var(--ax-neutral-300);

    & svg {
        margin-right: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}
