.attesteringerContainer {
    list-style: none;
    padding: 0;
}

.attesteringerContainer > :not(:last-child) {
    border-bottom: solid 1px var(--ax-neutral-200);
}

.attesteringContainer {
    margin-bottom: var(--ax-space-16);
}
