.knapp {
    margin-left: -0.5rem;

    min-height: 32px;

    transition:
        background-color,
        color 300ms ease-in-out;

    align-self: flex-start;
}

.loaded {
    color: var(--ax-neutral-1000);
    background-color: var(--ax-success-100);

    &:hover {
        background-color: var(--ax-success-100);
    }

    & svg {
        color: var(--ax-success-500);
    }
}

.varsel {
    margin-bottom: 1rem;
}
