.grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: start;
    gap: var(--ax-space-24);
}

.button {
    align-self: flex-start;
    width: fit-content;
}

.tilbakekreving {
    padding: 0.75rem;
    border: 3px solid var(--ax-border-warning-subtle);
    border-radius: var(--ax-radius-4);
}
