.radioGroup {
    margin-top: 1rem;

    & > :global(.navds-radio-buttons) {
        display: flex;
        gap: 2rem;
    }
}

.skjult {
    display: none;
}

.pølseSeksjon {
    margin-bottom: 0.5rem;
}
