.meldeperiodeDag {
    td {
        border: none;
    }
}

.statusIkon {
    width: 1rem;

    & > svg {
        vertical-align: top;
    }
}

.simuleringCell {
    display: flex;
    justify-content: space-between;
}

.detaljerRow {
    & > td {
        border: none;
    }
}
