.headerCell {
    border: none;
    border-top-left-radius: var(--a-border-radius-medium);
    border-top-right-radius: var(--a-border-radius-medium);
    background-color: var(--a-gray-50);

    .header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .headerBeregning {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    .knapp {
        padding: 0.5rem;

        .knappIkon {
            transition: transform 0.3s ease-in-out;

            &.ikonÅpen {
                transform: rotate(-180deg);
            }
        }
    }
}

.tabellHeaderOver {
    background-color: var(--a-gray-50);

    th {
        border: none;
    }
}

.tabellHeaderUnder {
    border-bottom: 1px solid var(--a-gray-500);

    th {
        font-size: var(--a-font-size-medium);
        font-weight: lighter;
        border: none;
    }
}

.meldeperiodeDag {
    td {
        border: none;
    }
}

.bold {
    font-weight: bold;
}

.periodeSum {
    border-top: 1px solid var(--a-gray-500);
    border-bottom: 2px solid var(--a-gray-500);
}

.positiv {
    color: var(--a-green-500);
}

.negativ {
    color: var(--a-red-500);
}

.statusIkon {
    width: 1rem;

    & > svg {
        vertical-align: top;
    }
}

.lukket {
    display: none;
}
