.meldeperiodeDag {
    td {
        border: none;
    }
}

.statusIkon {
    width: 1rem;

    & > svg {
        vertical-align: top;
    }
}

.simuleringCell {
    display: flex;
    justify-content: space-between;
}

.detaljerRow {
    & > td {
        border: none;
    }
}

.ikkeBeregnet {
    text-align: center;
}

.ikkeBeregnetTekst {
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before,
    &::after {
        content: '';
        flex: 1;
        height: 1px;
        background-color: var(--ax-border-neutral-subtle);
    }
}
