.radioGroup {
    margin-bottom: 1rem;

    & > :global(.aksel-radio-buttons) {
        display: flex;
        gap: 2rem;
    }
}

.datovelgere {
    margin-top: 1rem;
}

.infoVarsel {
    margin-bottom: 0.75rem;
}
