.header {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cfcfcf;
}

.begrunnelse {
    background-color: #ffffff;
    border: 1px #9099a5 solid;
    border-radius: 4px;
    padding: 0.5rem;
}
