.header {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--ax-border-neutral);
}

.seksjon {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.kildeKnapp {
    /* Aligner knappen litt finere i tabellen! */
    margin: 0 calc(-1 * var(--ax-space-12));
}
