.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(400px, min-content) 1fr;
}

.sidebar {
    padding: 2rem;
    background-color: var(--ax-accent-200);
}

.main {
    background-color: var(--ax-neutral-100);
    padding: 2rem;
}

.main > :not(:last-child) {
    margin-bottom: 2rem;
}
