.behandlingtag {
  padding: 0.5em;
  align-self: center;
  justify-self: center;
  grid-area: behandlingtag;
}

.HistoryColumn {
  border-top: 1px solid #dfdfdf;
  grid-area: history;
}

.behandlingLayout {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  padding: 1em;
  background-color: #f5f5f5;
}