.wrapper {
    background: white;
    padding: 1rem;
    border-radius: var(--ax-radius-4);

    & :global(.navds-timeline__axislabels) {
        overflow: hidden;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.scroll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--ax-space-12);

    .periode {
        margin-right: 0.5rem;
        font-weight: bold;
    }
}

.behandlingPreview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.innvilgetIkon {
    color: var(--ax-border-success);
}

.stansetIkon {
    color: var(--ax-border-danger);
}

.utbetalingIkon {
    color: var(--ax-border-info);
}

.behandlingLink {
    font-size: var(--ax-font-size-medium);
}
