.wrapper {
    background: white;
    padding: 1rem;
    border-radius: var(--a-border-radius-medium);

    & :global(.navds-timeline__axislabels) {
        overflow: hidden;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.scroll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--a-spacing-3);

    .periode {
        margin-right: 0.5rem;
        font-weight: bold;
    }
}

.behandlingPreview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.innvilgetIkon {
    color: var(--a-border-success);
}

.stansetIkon {
    color: var(--a-border-danger);
}

.utbetalingIkon {
    color: var(--a-border-info);
}

.behandlingLink {
    font-size: var(--a-font-size-medium);
}
