.skuff {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    width: 15%;
}

.lukketSkuff {
    width: 50px;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}

.lukketSkuff:hover {
    background-color: rgba(247, 247, 247, 1);
    cursor: pointer;
}

.lukketSkuff:hover button {
    background-color: rgba(204, 225, 255, 1);
}

.heading {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #cfcfcf;
  }

.heading:hover {
    background-color: rgba(247, 247, 247, 1);
    cursor: pointer;
}

.heading:hover > button {
    background-color: rgba(204, 225, 255, 1);
}

.lukketKnapp {
    padding: 0.5rem 0;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 24px;
}

.lukketHeading {
    transform: rotate(90deg);
}
